mixin document-group(obj, path, subText=null)
	if !obj.name.startsWith('-')
		!= `<h${obj.depth}>${obj.name}</h${obj.depth}>`
	- path += `/${obj.url}`
	if subText
		p= subText
	ul.document-group
		each file in obj.files
			li
				if file.files
					+document-group(file, path)
				else
					a(href=`${path}/${file.url}`)
						if file.ordinal != null
							span.ordinal= file.ordinal
						= file.displayname