extends layout

//- Family list view, link index for picking family
//- Takes list of families 'families' as [{name,img,url},...]

include components/family-list-item.pug

block content
	h1 Familjer
	p Tryck på ett namn i listan nedan för att visa underliggande dokument.

	ul
		each family in families
			+family-list-item(family)