doctype html
html(lang='sv')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title Vir Hominem
		link(rel='stylesheet', href='/style.css')
	body
		div.page
			if isValidSid
				div.menu
					nav
						a(href='/' class=currentPath==='/'?'selected':'')
							div.menu-item Hem
						if families
							each family in families
								a(href=`/${family.url}` class=currentPath===`/${family.url}`?'selected':'')
									div.menu-item= family.name
						a(href='/logout') Logga ut
			div.content
				block content