extends layout

block content
	h1 Begränsad åtkomst
	p Skriv in åtkomstkod för att fortsätta.

	form(action='/login' method='POST')
		if prevPath
			input(type='hidden' name='prevPath' value=prevPath)
		label
			| Åtkomstkod: 
			input(type='text' name='accessCode')
		input(type='submit' value='Fortsätt')
		if error
			-
				let errorMsg =
				error === 'missingAccessCode' ? 'Skriv in en åtkomstkod i textfältet ovan!' :
				error === 'invalidAccessCode' ? 'Åtkomstkoden var felaktig, försök igen!' :
				error === 'ipLimit' ? 'För många försök på din ip, försök igen om en timme.' : 'Okänt fel...'
			p(style='color:red;')= errorMsg