body { margin: 0; padding: 0; background-color: #ffefe1; color: #333; }

div.page {
	max-width: 1200px;
	margin: auto;
	/* background-color: antiquewhite; */
	box-sizing: border-box;
}

div.menu {
	border-bottom: 1px solid brown;
	padding: 20px;
}

div.menu a.selected div.menu-item {
	border-color: red;
}

div.menu div.menu-item {
	display: inline-block;
	padding: 4px;
	margin: 0 8px;
	border-bottom: 3px solid rgb(99, 50, 50);
	font-size: 1.2em;
	color: #333;
	box-sizing: border-box;
}

div.menu div.menu-item:hover {
	background-color: rgb(99, 50, 50);
	color: antiquewhite;
}

div.menu a:last-child {
	float: right;
}

div.content {
	padding: 20px;
}

div.content a:visited, div.content a:active, div.content a {
	text-decoration: none;
	color: #824c1f;
	font-size: 1.2em;
}

div.content a:hover {
	color: #26536d;
}

ul.document-group {
	padding-left: 25px;
	margin-bottom: 20px;
	list-style: none;
}

ul.document-group h2, ul.document-group h3, ul.document-group h4, ul.document-group h5, ul.document-group h6 {
	color: #10151d;
	margin: 5px 0;
	font-size: 1.3em;
	/* text-decoration: underline; */
	/* font-weight: normal; */
}

span.ordinal {
	color: #312313;
	margin-right: 5px;
	font-weight: bold;
}